---
const { previews, thumb, alt, id } = Astro.props;
---

<script is:inline src="https://cdn.jsdelivr.net/npm/fslightbox/index.min.js" defer></script>

<div class="relative w-full h-full">
  <a href={previews[0]} data-fslightbox={id} class="block w-full h-full">
    <img src={thumb} alt={alt} class="h-full w-full object-cover transition-transform hover:scale-125" loading="lazy" />
  </a>

  {previews.slice(1).map((src: string) => <a href={src} data-fslightbox={id} class="hidden" />)}
</div>
