---
import TechStack, { type Tech } from "./tech-stack.astro";
import LightboxWrapper from "./lightbox-wrapper.astro";
import { twMerge } from "tailwind-merge";

interface Props {
  type: "BackEnd Project" | "FrontEnd Project" | "FullStack Project" | "Client Project" | "Open-Source Contribution" | "Capstone Project";
  title: string;
  stack: Tech[];
  description: string;
  deploy: string;
  repository: string;
  image: string;
  alt: string;
  className: string;
  previews: string[];
}

const { type, title, stack, description, deploy, repository, image, alt, className, previews } = Astro.props;

const lightboxId = `lightbox-${title.toLowerCase().replace(/\s+/g, "-")}`;
---

<article class={twMerge("grid gap-4 overflow-hidden rounded-md border border-neutral-800 bg-gradient-to-t from-neutral-900/40 via-75% sm:grid-cols-7 opacity-0 intersect:opacity-100 intersect:duration-700 intersect:animate-in intersect:fade-in-0", className)}>
  <div class="flex flex-col gap-4 px-4 pb-8 pt-4 sm:col-span-4 sm:py-8">
    <header class="flex flex-col gap-1">
      <p class="font-jetbrains text-sm uppercase leading-[1] text-sky-400">
        {type}
      </p>
      <h3 class="text-3xl font-bold leading-[1] tracking-tight underline-offset-2">
        {title}
      </h3>
    </header>
    <div class="flex flex-wrap gap-1 font-jetbrains">
      <h4 class="w-full text-sm leading-[1.25] tracking-tight text-neutral-700">Tech Stack:</h4>
      <TechStack techs={stack} />
    </div>
    <p class="text-neutral-400">
      {description}
    </p>
    <footer class="mt-4 flex items-center gap-4 sm:mt-8">
      <a target="_blank" href={deploy} class="grid w-fit rounded bg-gradient-to-br from-sky-400 via-cyan-500 to-blue-600 px-4 py-2 font-jetbrains font-bold text-white transition hover:brightness-90 shadow-md">getDeploy();</a>

      <a target="_blank" href={repository} class="group flex w-fit gap-1 font-jetbrains">
        <span aria-hidden="true" class="text-sky-400">[</span>
        <span class="flex items-center gap-1 underline-offset-2 group-hover:underline">Visit Repo</span>
        <span aria-hidden="true" class="text-sky-400">]</span>
      </a>
    </footer>
  </div>

  <!-- Lightbox slideshow Image  -->
  <div class="relative row-start-1 min-h-[260px] overflow-hidden bg-neutral-800 sm:col-span-3 sm:row-start-auto sm:h-auto">
    <LightboxWrapper id={lightboxId} previews={previews} thumb={image} alt={alt} />
    <span class="absolute bottom-1.5 right-1.5 rounded bg-gray-700/70 px-1 py-px text-[10px] font-jetbrains text-neutral-100 leading-none tracking-tight"> Click for slideshow </span>
  </div>
</article>
