---
// file: src\components\certificates\certificate-card.astro
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";
import TechBadge from "../projects/tech-badge.astro";
import LightboxWrapper from "../projects/lightbox-wrapper.astro";

interface Props {
  type: string;
  title: string;
  description: string;
  image: string;
  url: string;
  alt: string;
  className: string;
  badges?: string[];
}

const { type, title, description, image, url, alt, className, badges = [] } = Astro.props;
const lightboxId = `certificate-${title.toLowerCase().replace(/\s+/g, "-")}`;
const previews = [image];
---

<article class={twMerge("grid gap-4 overflow-hidden rounded-md border border-neutral-800 bg-gradient-to-t from-neutral-900/40 via-75% shadow-sm transition-all hover:shadow-md hover:border-neutral-700/80 hover:bg-neutral-900/60 sm:grid-cols-7 opacity-0 intersect:opacity-100 intersect:duration-700 intersect:animate-in intersect:fade-in-0", className)}>
  <div class="flex flex-col gap-4 px-4 pb-8 pt-4 sm:col-span-4 sm:py-8">
    <header class="flex flex-col gap-1">
      <p class="font-jetbrains text-sm uppercase leading-[1] text-sky-400">
        {type}
      </p>
      <h3 class="text-2xl font-bold leading-tight tracking-tight text-white underline-offset-2 sm:text-3xl">
        {title}
      </h3>
    </header>

    {
      badges.length > 0 && (
        <div class="flex flex-wrap gap-2">
          {badges.map((badge) => (
            <TechBadge tech={badge} className="border-sky-900 bg-sky-900/20 text-sky-400" />
          ))}
        </div>
      )
    }

    <p class="text-neutral-400">{description}</p>

    <footer class="mt-4 flex items-center gap-4 sm:mt-8">
      <a target="_blank" rel="noopener noreferrer" href={url} class="group relative grid w-fit overflow-hidden rounded bg-gradient-to-br from-sky-400 via-cyan-500 to-blue-600 px-4 py-2 font-jetbrains font-bold text-white shadow-md transition-all hover:brightness-110">
        <span class="relative z-10">getCertificate();</span>
        <span class="absolute inset-0 bg-gradient-to-br from-white/10 to-white/0 opacity-0 transition-opacity group-hover:opacity-100"></span>
      </a>
    </footer>
  </div>

  <!-- Lightbox Wrapper -->
  <div class="relative row-start-1 min-h-[260px] overflow-hidden bg-neutral-800 sm:col-span-3 sm:row-start-auto sm:h-auto">
    <LightboxWrapper id={lightboxId} previews={previews} thumb={image} alt={alt} />
    <span class="absolute bottom-1.5 right-1.5 rounded bg-gray-700/70 px-1 py-px text-[10px] font-jetbrains text-neutral-100 leading-none tracking-tight"> Click to enlarge </span>
  </div>
</article>
